.filterForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
  min-width: 150px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  background-color: whitesmoke;
  border-radius: 10%;
  padding-top: 4%;
  padding-bottom: 4%
}

input {
  margin-bottom: 10px;
  height: 30px;
  width: 50%;
}

select {
  margin-bottom: 10px;
  height: 30px;
  width: 50%;
}

.submitButton {
  margin-top: 5px;
  margin-bottom: 5px;
  height: 60px;
  width: 20%;
  min-width: 150px;
  background-color: lightcoral;
  color: white;
  border-radius: 10%;
}