.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.upperPart {
  background-color: rgb(231, 223, 223);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  margin-bottom: 50px;
}

.headline {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.summary {
  margin-left: 25px;
  margin-right: 50px;
  width: 30%;
  min-width: 250px;
}

.img {
  width: 30%;
  min-width: 250px;
  height: auto;
  padding-right: 50px;
}

.ingredientTable {
  align-self: flex-start;
  width: 30%;
  min-width: 300px;
  border-spacing: 25px 15px;
  border-right: 1px solid black;
}

.guide {
  margin-top: 20px;
}

.guideList {
  width: 50%;
  min-width: 300px;
  margin-bottom: 100px;
  margin-left: 10%;
}

.methods {
  display: flex;
  flex-wrap: wrap;
  width: 65%;
  margin-top: 50px;
}

th {
  padding-bottom: 10px;
  padding-top: 0px;
  font-size: large;
}

.methodHeadline {
  font-size: large;
  margin-top: 7px;
  margin-left: 20px;
}
